* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
  min-height: 100vh;
}

.errorHeader {
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100px;
  margin: 10px auto;
  text-align: center;
  width: 50%;
}

.errorHeader button {
  cursor: pointer;
  padding: 5px 10px;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

article {
  margin: 15px auto 0;
  width: 80%;
}